main{
    background: var(--main-color);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .box{
        display: flex;
        flex-direction: column;
        align-items: center;
        .title{
            font-family: 'Dancing Script', cursive;
        }
        .subTitle{
            font-family: 'Dancing Script', cursive;
        }
        .year{
            font-size: 2rem;
        }
    }
    .parraph{
        font-family: Pacifico, cursive;
        font-size: 1.5rem;
        
    }
    .text{
            
        }
}