@media screen and (min-width:768px){
    main{
        .title, .subTitle, .year, .parraph, .text, img, .text__secondary, .life{
            display: none;
        }
        .titleHide{
            display: block;
            font-size: 2rem;
        }
    }
    
}

@media screen and (min-height:851px ) and (max-width:767px) {
    main{
        .life{
            display: block;
            position: absolute;
            top: 20px;
            width: 25%;
        }
    }
}