@import "./variables/_reset";
@import "./view/_body";
@import "./variables/_colors";
@import "./view/_media";

//fonts
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Fjalla+One&family=Lobster&display=swap');